@mixin flexprop(){
    display: flex;
    align-items: center;
    justify-content: center; 
}
.youtube{
    @include flexprop();
  @media (max-width:600px){
    iframe{
        width: auto;
        height: 250px;
    }
}
.msg1{
    &:hover{
            background-color: #004225 !important;
            cursor: pointer;
        }
}
.carofront{
    img{
        max-height:75vh;
    }
}
}
@media (max-width:600px) {
    .carofront{
        
       img{
        min-height: 55vh !important;
       }
       .logo{
        width: 100px;
        height: 30px;
    }
    }
}
.princ-msg{
    background-color:#FFC436;
}
body{
    margin:0;
    padding:0;
}
.facility{
    background: #004225;
    border: 1px solid green;
    position: relative;
    top: 20px;
    z-index: 1;
    color: white;
    hr{
        border: 1px solid green;
    }
    .f-card{
        color: black;
        &:hover{
            color: white;
            background: #004225;
            cursor: pointer;
        }
    }
}
.whatapp{
    position:absolute;
   
    .fab{color:white;
       background:rgb(119, 236, 119);
       border-radius: 50%;
       padding: .3rem;
       font-size: 2.5rem;
       z-index: 2;
       position: fixed;
       bottom:1.5rem;
       right:1rem;
   }
}
@mixin box() {
    width: 300px;
    height: auto;
    background-color: brown;
    // border: 2px solid green;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
    .cardtop{    
        font-family: cursive;
        h5{
            text-align: center;
            margin: .6rem;
            
        }
        p{
            padding-left: .4rem;
            color:rgb(41, 40, 40);
            font-weight: 50;
            text-align: center           
        }
         }
         .btn{
            @include flexprop();
            .abc{
                text-decoration: none !important;
                text-transform: uppercase !important;
            }
            button{
                padding: 0.5rem 1rem;
                border-radius: 0.3rem;
                background-color: rgb(130, 182, 216);
                color: white;
                font-weight: 600;
                margin: 1rem 0rem ;
                // &:hover{color:rgb(255, 255, 255);
                //     background-color: rgba(250, 43, 60, 0.568);
                    
                // }
            }
        }

}

.prenav{
    
    top: 0;
    @include flexprop();
    background-image: linear-gradient(
              rgb(136, 203, 136),rgb(16, 90, 16));
    min-height: 10vh;
    .pre{
        
        img{
            width: 150px;
            height: 140px;
        }
       
        h2{ 
            font-weight: 900;
            color: rgb(236, 204, 21);
            text-shadow: 2px 2px #cf8b8b;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            span{
                font-size: 1.3rem;
                font-family: cursive;
            }
        }
        address{
            color: rgb(255, 255, 255);
            span{
                font-size: 1rem;
            }
            font-size: 1rem;
        }
        width: 33vw;
        margin: auto;
        @include flexprop();
        
    }
}
@media screen and (max-width: 800px){
.prenav{
    // flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
   .pre{
    margin: 0px;
        padding: 0px;
    img{
        width: 100px;
        height: 95px;
    }
    h2{
        min-width:200px;
        font-size: 1rem;
        span{
            font-size: 0.7rem;
        }
    }
   }
    .pre:nth-child(1){
        img{width: 75%;}
    }
    .pre:nth-child(3){
        display: none;
    }
}
}
@media (max-width:600px) {
    .prenav{

    }
}
.front{
    background: rgba(248, 247, 247, 0.2);
    width:50vw;
    position: relative;
    top: 0;
    // height:60vh;
    margin:auto;
    border-radius: 24px;
    &:hover{
       background: rgba(255, 255, 255, 0.289);
       cursor: pointer;
    }
}

.foot{
    background-image: linear-gradient(
        rgb(136, 203, 136),rgb(16, 90, 16));
        li{
            list-style: none;
            color: red;
            a{
                text-decoration: none;
                color:black;
                font-weight: 600;
            }
            
        }
}

.boxarea{
    font-family: cursive;
    color:white;
    @include flexprop();
    // background:#CFFF8D;
    flex-wrap: wrap;
    .singlebox{
       position:relative;
       background:#004225;
       @include flexprop();
       width: 280px;
       height: auto;
       text-align: center;
       margin: 20px;
       padding: 20px;
       transition: .5s;
       flex-direction: column;
       &:hover{
        background-color: #FFB000;
        color: black;
        cursor: pointer;
    }
    // .imgarea:nth-child(1){
    //     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ-YIPLhIBLVQKh_S4BNo18b03Ct5P_iYFeBBjDCYx&s');
    // }
    
    .imgarea{
       @include flexprop();
       font-size:7rem;
       width: 80px;
       height: 80px;
       border: 2px solid white;
       border-radius: 50%;
       padding:20px;
       background-size: cover;
       background-position: center center;
       overflow: hidden;
        img{
            height: 80px;
            height: 80px;
        }
       }
       
   }
       .imgtxt{
           span{
               strong{
                   margin: .3rem 0;
                   display: inline-block;
           }
        }
       }
       
    }

    .card11{
        @include flexprop();
        
        background-image:
     linear-gradient(
         white,rgb(89, 154, 89),rgb(3, 61, 25)
          );  
        flex-wrap: wrap;
    
        .box1{
    @include box();
    background-color:#EEF1FF;
    &:hover{
        cursor: pointer;
        background-color: #dee2f4;;
    }
    }
    .box2{
        @include box();
        background-color:#CFFF8D;
        &:hover{
            cursor: pointer;
            background-color: #bef077;
        }
    }
    .box3{
        @include box();
        background-color:#f9c84b;
        &:hover{
            cursor: pointer;
            background-color: #FFCB42;
        }
        }
    .box4{
            @include box();
            background-color:#DEB6AB;
            &:hover{
                cursor: pointer;
                background-color:#d89c8c;
            }
        }
    }

    .nostyle{

        text-decoration: none !important;
        color: rgb(37, 37, 214);
        display: inline !important;


    }
.mainlogin{
        background: rgb(252, 243, 233);
    }
    .welcome{
        background:whitesmoke
    }
.rstyle{
    text-decoration: none;
}